config {
    // Location of nf-tests
    testsDir "."

    // nf-test directory used to create temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // Location of an optional nextflow.config file specific for executing pipeline tests
    configFile "tests/nextflow.config"

    // Run all tests with defined profile(s) from the main nextflow.config
    profile "test"

    // Ignore tests coming from the nf-core/modules repo
    ignore = [
        'modules/nf-core/**/tests/*',
        'subworkflows/nf-core/**/tests/*',
    ]

    // List of filenames or patterns that should trigger a full test run
    triggers = [
        '.github/actions/nf-test/action.yml',
        '.github/workflows/nf-test.yml',
        'assets/schema_input.json',
        'bin/*',
        'conf/test.config',
        'nextflow.config',
        'nextflow_schema.json',
        'nf-test.config',
        'tests/.nftignore',
        'tests/nextflow.config',
    ]

    // Load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
    }
}
