process {
    withName: KINGFISHER_GET {
        ext.args = '--output-format fastq.gz'
        publishDir = [
            path: { "${params.outdir}/fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
